{% extends 'base.html.twig' %}

{% block title %}
  Log in
{% endblock %}

{% block body %}
  <div class="h-full w-full">
    {% include 'header.html.twig' %}
    <div class="container my-6 mx-auto flex flex-col items-center justify-center px-6 pb-6">
      <div class="space-y-2">
        <h1 class="text-center text-indigo-900">Log in</h1>
      </div>
    </div>
    <div class="container mx-auto px-6 max-w-3xl">
      {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      <form class="flex flex-col space-y-4 justify-center" action="{{ path('app_login') }}" method="post">
        <input class="input" type="email" id="username" name="_username" placeholder="E-mail" value="{{ last_username }}" />

        <input class="input" type="password" id="password" name="_password" placeholder="Password" />

        <button class="btn btn-primary w-fit self-center" type="submit">login</button>
      </form>
    </div>
  </div>
{% endblock %}
