{% extends 'base.html.twig' %}

{% block body %}
  <div class="w-full bg-neutral-50">
    <div class="container mx-auto flex items-center justify-between py-4 px-6 xl:h-16 bg-neutral-50">
      <div class="flex h-full items-center">
        <div class="sm:mr-10">
          <a class="ml-3 text-base font-bold leading-tight tracking-normal text-indigo-900 no-underline hover:no-underline" href="/">Linkr</a>
        </div>
        <ul class="flex items-center space-x-2">
          <li>
            <a class="btn btn-flat-secondary hover:no-underline" href="/">Home</a>
            {% if app.user %}
              <a class="btn btn-flat-secondary hover:no-underline" href="/link/userlinks">My links</a>
              <a class="btn btn-flat-secondary hover:no-underline" href="/link/userlinks">Links</a>
              <a class="btn btn-flat-secondary hover:no-underline" href="/link/userlinks">Users</a>
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="flex h-full items-center justify-end">
        <div class="flex h-full w-full items-center">
          <div class="flex h-full w-full">
            <div aria-haspopup="true" class="flex w-full cursor-pointer items-center justify-end">
              <div class="flex space-x-4">
                {# get logged in user #}
                {% if app.user %}
                  <div class="flex items-center">
                    <div>{{ app.user.username }}</div>
                    <div class="ml-4">
                      <a class="btn btn-danger hover:no-underline" href="/logout">Logout</a>
                    </div>
                  </div>
                {% else %}
                  <a class="btn btn-primary hover:no-underline" href="/login">Login</a>
                  <a class="btn hover:no-underline" href="/register">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
